.pools {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: -3;
}

@media screen and (max-width: 972px) {
  .pools {
    top: 200px;
    padding-bottom: 50px;
    justify-content: center;
    min-height: 600px;
  }
}
