.pool {
    position: relative;
    width: 300px;
    height: 315px;
    background-color: rgba(30, 30, 39, 0.3);
    border: 2px solid #505050;
    border-radius: 10px;
    margin: 10px;
}

.pool .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 100%;
    border-bottom: 2px solid #505050;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(30, 30, 39, 0.3);
}

.pool .header div {
    margin-left: 15px;
}

.pool .header div h1 {
    color: white;
    font-size: 28px;
}

.pool .header div p {
    color: #D2D2D2;
    font-size: 12px;
}

.pool .header img {
    margin-right: 15px;
    width: 28px;
    cursor: pointer;
}

.pool .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
    width: 100%;
}

.pool .container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.pool .container div small {
    color: white;
    font-size: 18px;
}

.pool .container div .collect {
    position: relative;
    background: none;
}

.pool .container div .collect::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 2px; 
    background:linear-gradient(90deg, #4F9DFB,#BB30FF); 
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
} 

.pool .container div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pool .container div div small {
    color: white;
    font-size: 20px;
}

.pool .container div small span {
    padding: 5px 10px;
    background: rgba(48, 154, 252, 0.24);
    border-radius: 10px;
}

.pool .container div div p:last-child {
    background: linear-gradient(to right, #509CFB 0%, #BA31FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pool .container div div p span {
    color: #D2D2D2;
}

.pool .container button {
    width: 90%;
    height: 50px;
    background: linear-gradient(90deg, rgba(71,163,250,1) 0%, rgba(196,37,255,1) 100%);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}